@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #bf712b;
}

:root {
  --primary-bg-color: #bf712b;
  --secondary-text-color: #4e4e4e;
  --secondary-font-weight: 400;
}

.padding {
  padding: 1.25rem;
}

.text-secondary {
  color: var(--secondary-text-color);
  font-weight: var(--secondary-font-weight);
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

.glass {
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.1px);
  -webkit-backdrop-filter: blur(17.1px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
